@page
@model ContentSecurityPolicyModel

<div id="test" style="" class="mt-5">
    Image loaded from Google:
    <br />
    <img class="mt-5" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
</div>


<script>
    document.querySelector('#test').setAttribute('style', 'background-color: red');
</script>
